.nav {
	width: 100%;
	height: fit-content;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	background-color: black;
	ul {
		max-width: 1700px;
		margin: 0 auto;
		padding-inline: 30px;
		display: flex;
		align-items: center;
		list-style-type: none;
		justify-content: space-between;
		font-family: "Montserrat", sans-serif;
		font-size: 1.5em;
		.logo {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					margin: 0 10px;
				}
			}
		}
		li {
			a {
				height: 40px;
				color: rgb(170, 166, 166);
				transition: all 0.2s ease-in-out;
				font-weight: 400;
				position: relative;
				&:hover {
					color: white;
				}
			}
		}
	}
	svg {
		color: rgb(170, 166, 166);
		display: flex;
		align-items: center;
		transition: all 0.2s ease-in-out;
		font-weight: 300;
		&:hover {
			color: white;
		}
	}
	svg:not(:first-child) {
		display: none;
	}
	@media (max-width: 900px) {
		ul {
			padding-inline: 15px;
		}
		.logo {
			display: flex;
			svg:first-child {
				display: inline-block;
			}
		}

		.ul-first li:not(:first-child) {
			display: none;
		}
		svg,
		svg:not(:first-child) {
			display: inline-block;
		}
	}
	.ul-second {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-inline: 30px;
		.personal {
			margin-bottom: 10px;
		}
	}
	@media (min-width: 1200px) {
		.ul-second {
			display: none;
		}
	}
}
