.picture{
	max-width: 1700px;
	display: flex;
	margin: 40px auto 50px;
	flex-direction: row;
	// padding: 0 80px;
	.picture-container{
		max-width: 70%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.moto{
		padding: 40px 20px;
		background-color:rgb(173,186,160) ;
		display: flex;
		align-items: center;
			h1{
				color: black;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2em;
				mark{
					background-color: transparent;
					color:  rgb(75,129,244);
				}
			}
	}
	@media (min-width:1200px) {
		h1{
			font-size: 2rem;
		}

	}
}
