.picture{
	margin: 36px 0;
	.greetings{
		width: 100%;
		margin: 70px 0 20px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		mark{
			background-color: white;
			color:  #004aab;
		}
	}
	.picture-container{
		img{
			display: block;
			width: 100%;
			max-height: 600px;
			object-fit: cover;
		}
	}
	.moto{
		// background-color:	#c0d7e9;
		background-color: rgb(122,201,153);
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		.text-container{
			padding: 50px;
			p{
				font-size: 3.5em;
				line-height: 1.3;
				color: white;
				mark{
					color: #493E54;
					background-color: transparent;
				}
			}
		}
		.button-container{
			padding: 20px 20px 20px;
			display: flex;
			align-items: end;
			position: relative;
			padding-left: 50px;
			a{
				padding: 5px;
				font-size: 150%;
				display: flex;
				border-radius: 50%;
				border: 1px solid rgb(88, 87, 87);
				transition: all 0.4s;
				z-index: 1;
				svg{
					color: white;
				}
			}
			a:hover{
				background-color: white;
				svg{
					color: black;
					// padding: 1px;
				}
			}
		}
	}
	
	@media (min-width:900px) {
		display: flex;
		flex-wrap: wrap;
		.greetings{
			width: 100%;
			margin: 50px 0 20px;
		}
		.picture-container{
			width: 60%;
			img{
				width: 100%;
				max-height: 670px;
				object-fit: cover;
				display:block;
			}
		}
		.moto{
			width: 40%;
			display: flex;
			flex-direction: column;
			.text-container{
				height: 50%;
			}
			.button-container{
				height: 50%;
			}
		}
	}




	// .picture-container{
	// 	padding: 0 20px;
	// 	img{
	// 		width: 100%;
	// 	}
	// }
	// @media (min-width:1200px) {
	// 	max-width: 1700px;
	// 	display: flex;
	// 	margin: 40px auto 50px;
	// 	flex-direction: row;
	// 	.picture-container{
	// 		max-width: 70%;
	// 		img{
	// 			width: 100%;
	// 			height: 100%;
	// 			object-fit: cover;
	// 	}
	// }
	// .moto{
	// 	padding: 40px 20px;
	// 	background-color:rgb(173,186,160) ;
	// 	display: flex;
	// 	align-items: center;
	// 		h1{
	// 			color: black;
	// 			font-family: 'Montserrat', sans-serif;
	// 			font-weight: 700;
	// 			font-size: 2em;
	// 			mark{
	// 				background-color: transparent;
	// 				color:  rgb(75,129,244);
	// 			}
	// 		}
	// 	}
	// }
}
